<div class="left">
  
  <div id="profile" class="clearfix">
    <div style="float: left">
      <%= gravatar(@user.email, 175) %>
    </div>
    <div style="float: left">
      <div class="username">
        <%= @user.username %>
      </div>

      <% if @user == current_user %>
      <%= render "user_controls" %>
      <% end %>
    </div>
  </div>

  <h2> Recent Pictures </h2>
  <div class="pictures">
    <%= render @user.pictures.order_by(:created_at.desc).limit(5) %>
  </div>
</div>


<div class="right">
  
  <div class="light-box clearfix">
    <div class="icon">
      <img src="/images/photo_icon.png"/>
    </div>
    <div class="stuff">
    <div class="count">
      <%= @user.pictures.count %>
    </div>
    <div class="what">
        <%= link_to "pictures", user_pictures_path(@user) %>
    </div>
  </div>
  </div>
  
  <div class="light-box clearfix">
    <div class="icon">
      <img src="/images/feedbacks.png"/>
    </div>
    <div class="stuff">
    <div class="count">
      <%= @user.feedbacks.count %>
    </div>
    <div class="what">
      <%= link_to "feedbacks", user_feedbacks_path(@user) %>
      </div>
    </div>
    </div>
  </div>
  
  <h3 style="font-weight: normal"> Bio </h3>
  <p class="bio">
    <%= @user.bio %>
  </p>
  
  <span class="help">
    Joined <%= @user.created_at.to_s(:pretty) %>
  </span>
  
</div>
