<%= form_for(@picture, :html => { :multipart => true }) do |f| %>
  <% if @picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
      <% @picture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :picture %><br />
    <%= f.file_field :pic %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
    <span class="help"> The title of the image </span>
  </div>
  <div class="field">
    <%= f.label :tags %><br />
    <% Tag.all.each do |tag| %>
      <%= check_box_tag "picture[tags][]", tag.id, @picture.tags.include?(tag.name) %> 
      <%= tag.name %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :desc %><br />
    <%= f.text_area :desc %>
    <span class="help"> A short description of what this is and what kind of feedback you are looking for. </span>
  </div>
  <div class="field">
    <%= f.label :private %>:
    <%= f.check_box :private %>
    <span class="help"> If private is checked this picture is only visible to you.</span>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
