<h1>
  <%= @picture.name %>
  <% if current_user && current_user.can_edit?(@picture) %>
    <%= link_to 'Edit Picture', edit_picture_path(@picture), :class => 'edit' %>
  <% end %>
</h1>
<div class="large">
  <%= image_tag @picture.pic.url(:large), :width => "100%"%>
</div>
<div class="picture-content">
  <div class="user">
    <div class="avatar">
      <%= gravatar(@picture.user.email, 50) %>
    </div>
    <div class="username">
      <%= link_to @picture.username, username_profile_path(@picture.username) %>
    </div>
    <div class="description">
      <%= @picture.desc %>
    </div>
  </div>

  <div class="tags">
    Tags: 
  <% @picture.tags.each do |t| %>
    <%= link_to t, "/pictures/tags/#{t}", :class => "tag" %>
  <% end %>
  </div>

  <div class="link-flag">
    <%= link_to "Link", @picture %> | <a href="#"> Flag </a>
  </div>

  <h2> Feedback </h2>

  <div id="comments">
  <%- @picture.comments.each do |c| %>
    <div class="feedback clearfix" id="comment-<%=c.id%>">
      <div class="gutter">
        <div class="votes">
          <div class="up">
            <%= link_to "Good feedback", "#", :class => "vote-up-feedback" %>
          </div>
          <div class="count">
          10
          </div>
          <div class="down">
            <%= link_to "Bad feedback", "#", :class => "vote-down-feedback" %>
          </div>
        </div>
      </div>

      <div class="feedback-content">
        <div class="feedback-text">
          <%= c.comment %>
        </div>

        <div class="feedback-footer">
          <div class="feedback-user-info">
            <a href="#{username_profile_path(c.username)}">
              <div class="feedback-user-avatar">
                <%= gravatar(c.email, 32) %>
              </div>
              <div class="feedback-user-username">
                <%= link_to c.username, username_profile_path(c.username) %>
              </div>
            </a>
          </div>
    
          <div class="feedback-link-flag">
            <%= link_to "Link", @picture %> | <a href="#"> Flag </a>
          </div>
        </div>

    </div>

  </div>
  <% end %>
</div>

<%- if current_user %>
<div id="comment-form">
  <%= form_for :comment, :url => picture_comments_path(@picture) do |f| %>
    <%= f.hidden_field :picture_id, :value => @picture.id %>
    
    <div class="field">
      <label for="comment">Leave feedback</label><br/>
      <%= f.text_area :comment, :cols => 80, :rows => 8 %>
    </div>

    <div class="actions">
      <%= f.submit "Post Feedback" %>
    </div>

  <% end %>
</div>
<% else %>
<div id="no-comment-form">
  You must be a member to post feedback.
</div>
<% end %>
</div>
