<h1>
  <%= @picture.name %>
  <% if current_user && current_user.can_edit?(@picture) %>
    <%= link_to 'Edit Picture', edit_picture_path(@picture), :class => 'edit' %>
  <% end %>
</h1>
<div class="large">
  <%= image_tag @picture.pic.url(:large), :width => "100%"%>
</div>
<div class="picture-content">
  <div class="user">
    <div class="avatar">
      <%= gravatar(@picture.user.email, 50) %>
    </div>
    <div class="username">
      <%= link_to @picture.username, username_profile_path(@picture.username) %>
    </div>
    <div class="description">
      <%= @picture.desc %>
    </div>
  </div>

  <div class="tags">
    Tags: 
  <% @picture.tags.each do |t| %>
    <%= link_to t, "/pictures/tags/#{t}", :class => "tag" %>
  <% end %>
  </div>

  <div class="link-flag">
    <%= link_to "Link", @picture %> | <a href="#"> Flag </a>
  </div>

  <h2> Feedback </h2>
  <div id="comments">
    <%= render @picture.feedbacks.order_by(:votes.desc) %>
  </div>

  <%= render "/feedbacks/form", :picture => @picture %>

</div>
