<!DOCTYPE html>
<html>
<head>
  <title>notebookdrawings.com</title>
  <%= stylesheet_link_tag "screen" %>
  <%= javascript_include_tag "jquery.min", "rails", "application" %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="header">
    <div class="container">
      <div id="logo">
      	<h1><%= link_to "Notebook Drawings", root_path %></h1>
      </div>
      <div id="nav">
        <%= link_to "Pictures", pictures_path %>
      </div>
      <% if current_user %>
      <div id="session">
        <%= gravatar(current_user.email, 30) %>
        <span id="username"><%= current_user.username%></span>
        <img src="/images/down.png" id="down" alt="down"/>
        <div id="session-menu">
          <%= link_to "Upload", new_picture_path %>
          <%= link_to "Profile", user_profile_path %>
          <%= link_to "Sign out", destroy_user_session_path %>
        </div>
      </div>
        <% else %>
          <%= link_to "Sign in", new_user_session_path %>
          <%= link_to "Sign up", new_user_registration_path %>
        <% end %>
    </div>
  </div>
  <div class="container">
    <!--
    <% if flash[:alert] %>
    <div id="alert">
      <%= flash[:alert] %>
    </div>
    <% end %>
    -->
    <div id="main">
      <%= yield %>
    </div>
    <div id="side">
      lol side
    </div>

  </div>
</body>
</html>
